@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:global(*) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-container {
  background-color: #f0f0f0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-container h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top:20px;
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.form-container form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.form-container form > div {
  display: flex;
  flex-direction: column;
}

.form-container label {
  margin-bottom: 5px;
  font-weight: 600;
}

.form-container input,
.form-container textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding: 9px 25px;
  background-color: #90645E;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-top: 10px;
}

.btn:hover {
  background-color: #b28e89;
}

.example-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
}

.example-container div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.example-container label {
  font-weight: 600;
}

.example-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.example-inputs input {
  flex: 1;
}
